body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    background-color:lightcyan;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav-bar{
    float: right;
    padding: 65px 150px;
    
}
.nav-bar a{
    float: left;
    color: black;
    text-align: center;
    padding: 11px 22px;
    text-decoration: none;
    font-size: 25px;
}
.nav-bar a:hover{
    text-decoration:underline;
}

.menu{
    width: 1290px;
    height: 1120px;
    background-color: #3c2626;
    opacity: 0.7;
    color: black;
    font-size: 30px;
    float: center;
    margin: 110px 330px;
    position: absolute;
}
.menu h1{
    color: black;
    text-align: center;
}
.menu table{
    color: black;
    border-collapse: collapse;
    padding: 5px;
}
.menu table th,.menu table td{
    padding: 10px;
    font-size: 25px;
}
.menu table th{
    font-size: 35px;
}
.menu table img{
    width: 300px;
    height: 250px;
}
.menu form input, .menu form textarea{
    font-size: 20px;
}


.butt{
    background-color: RED;
    border: 2PX solid yellow;
    color: white;
    padding: 5px;
}

